body, html {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', sans-serif;
  color: white;
  color: rgba(255,255,255,.8);
  letter-spacing: -.025em;
  background-color: #17191e;
  background-image: radial-gradient(rgba(255,255,255,.15) 2.5%, transparent 2%),
  radial-gradient(rgba(255,255,255,.15) 2.5%, transparent 2%);
  background-size:60px 60px;
  background-position: 0 0px, 30px 30px;
}

* {
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
}

.container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


h1, h2, h3, h4, ul {
  margin: 0;
  padding: 0;
}

h1 {
  display: inline-block;
  font-size: 2.5rem;
  color: #1389d0;
  font-weight: 100;
  background: white;
  margin-bottom: 3rem;
  margin-left: -1rem;
  padding: 0 .5rem;
}

h2 {
  font-size: 1.5rem;
  color: #1067de;
}

p {
  font-size: 1.5rem;
}

a {
  color: rgba(255,255,255,.8);
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,.8);
}

  a:hover {
    color: white;
  }

ul {
  list-style-type: none;
  padding-top: 1rem;
}
  ul li {
    padding: 0 .5rem 0 0;
    display: inline-block;
    font-size: 1.25rem;
  }

  ul a {
    color: rgba(202, 60, 60, .8);
    border-bottom-color: rgba(202, 60, 60, .8);
  }

    ul a:hover {
      color: rgba(202, 60, 60, 1);
      border-bottom-color: rgba(202, 60, 60, 1);
    }

.ribbon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 26px;
  background: goldenrod;
  background-size: 40px 40px;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 25%, rgba(255,255,255,.1) 25%, rgba(255,255,255,.1) 50%);
  text-align: center;
  color: #17191e;
  padding: .75rem 0 .5rem;
  animation: scroll 1s linear;
  -webkit-animation: scroll 1s infinite linear;
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 70px 0;
  }
}
@-webkit-keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 80px 0;
  }
}